Checks: >-
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: '1'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
